<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [cols]="cols" rowHeight="4:5">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols || 1" [rowspan]="card.rows || 1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image onerror="this.src = 'https://source.unsplash.com/random?sig=2'" [src]="card.image || 'https://source.unsplash.com/random?sig=2'" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="text-overflow-ellipsis">{{card.description}}</p>
          <button mat-raised-button color="primary" class="button-right" (click)="addItemToCart(card._id)">&#8364;{{card.price}} <mat-icon>add_shopping_cart</mat-icon></button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
